<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healsphere">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />




    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="HealSphere"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealSphere"
        android:requestLegacyExternalStorage="true">


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".ViewMedicinesActivity"
            android:exported="false" />

        <receiver
            android:name=".ReminderReceiver"
            android:exported="true"
            android:enabled="true" />

        <activity
            android:name=".ProfileSelectionActivity"
            android:exported="false" />

        <activity android:name=".DailyReportActivity" android:exported="false"/>

        <activity android:name=".DoctorsActivity" android:exported="false"/>

        <receiver
            android:name=".HealthTipReceiver"
            android:exported="true" />
    </application>
</manifest>
